@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&family=Montserrat:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&family=Unbounded:wght@300;400;500;600;700;800&display=swap");

:root{

  /*! FONT FAMILY */
  --unbounded-font-family: "Unbounded", cursive;
  --calligraffitti-font-family: "Calligraffitti", cursive;
  --roboto-font-family: "Roboto", sans-serif;
  --montserrat-font-family: "Montserrat", sans-serif;

  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;


    /*! COLORS */
  --color-accent-vegetarian: #51cf66;
  --color-accent-vegan: #94d82d;
  --color-accent-paleo: #ffd43b;
  --color-accent-unread-item: #df1717;

  --color-black: #000000;
  --color-primary-dark-9: #010e16;
  --color-primary-dark-8: #021c2b;
  --color-primary-dark-7: #032941;
  --color-primary-dark-6: #043757;
  --color-primary-dark-5: #06456d;
  --color-primary-dark-4: #075382;
  --color-primary-dark-3: #086198;
  --color-primary-dark-2: #096eae;
  --color-primary-dark-1: #0a7cc3;
  --color-primary: #0b8ad9;
  --color-primary-light-1: #2396dd;
  --color-primary-light-2: #3ca1e1;
  --color-primary-light-3: #54ade4;
  --color-primary-light-4: #6db9e8;
  --color-primary-light-5: #85c5ec;
  --color-primary-light-6: #9dd0f0;
  --color-primary-light-7: #b6dcf4;
  --color-primary-light-8: #cee8f7;
  --color-primary-light-9: #e7f3fb;
  --color-white: #ffffff;
  --color-background: rgba(255, 255, 255, 0.97);

  --color-gray-1: #eeeeee;
  --color-gray-2: #dddddd;
  --color-gray-3: #aaaaaa;
  --color-gray-4: #888888;
  --color-gray-5: #767676;
  --color-gray-6: #6f6f6f;
  --color-gray-7: #555555;
  --color-gray-8: #333333;

}

html {
  font-family: var(--montserrat-font-family);
  font-size: 62.5%;
  /*background-color: var(--color-primary-light-9);*/
}

a {
    text-decoration: none !important;
}



.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem;
    /* background-color: var(--color-primary-light-9);*/
}

.navigation__logo-text {
    font-size: 2rem;
    font-family: var(--unbounded-font-family);
    color: var(--color-primary);
    font-weight: var(--font-weight-400);
}

.container {
    width: 120rem;
    margin-inline: auto;
    text-align: center;
}

.container-inside {
    border: 1px var(--color-primary-dark-7) solid;
    background-color: var(--color-primary-light-9);
    border-radius: 3%;
    margin-bottom: 15%;
    width: 50%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 3.4rem 2.4rem;
}

.form__group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    margin-bottom: 2.4rem;
}

.form__group i {
    font-size: 1.8rem;
}

.form__title {
    font-weight: var(--font-weight-500);
    font-size: 2rem;
    margin-bottom: 2rem;

}

.form__username {
    /* margin-bottom: 15px; */
    border: 2px solid var(--color-primary);
    padding: 1rem;
    border-radius: 100rem;
    background: none;
    outline: none;
}

.form__paragraph {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.button--email {
    margin-bottom: 15px;
    background-color: var(--color-primary-light-7);
    color: var(--color-primary-dark-7);
    font-weight: var(--font-weight-700);
    text-align: center;
    height: 40px;
    padding: 0 38px;
    border-radius: 25px;
    width: 50%;
    border: 1px solid var(--color-primary-dark-7);
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
}

.button--signup {
    margin-top: 15px;
    font-weight: var(--font-weight-700);
    color: var(--color-primary);
    background-color: var(--color-primary-light-9);
    text-align: center;
    height: 30px;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 17px;
    font-size: 1.2rem;
    font-weight: var(--font-weight-800);
    border-radius: 25px;
    width: 30%;
    border: 1px solid var(--color-primary-light-3);
    cursor: pointer;
}


.button--email i {
    padding-right: 1rem;
    font-size: 1.8rem;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem
}

.alert-heading {
    color: inherit
}

.alert-link {
    font-weight: 700
}

.alert-dismissible {
    padding-right: 4rem
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: .75rem 1.25rem;
    color: inherit
}

.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff
}

.alert-primary hr {
    border-top-color: #9fcdff
}

.alert-primary .alert-link {
    color: #002752
}

.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db
}

.alert-secondary hr {
    border-top-color: #c8cbcf
}

.alert-secondary .alert-link {
    color: #202326
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb
}

.alert-success hr {
    border-top-color: #b1dfbb
}

.alert-success .alert-link {
    color: #0b2e13
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb
}

.alert-info hr {
    border-top-color: #abdde5
}

.alert-info .alert-link {
    color: #062c33
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba
}

.alert-warning hr {
    border-top-color: #ffe8a1
}

.alert-warning .alert-link {
    color: #533f03
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb
}

.alert-danger hr {
    border-top-color: #f1b0b7
}

.alert-danger .alert-link {
    color: #491217
}

.alert-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe
}

.alert-light hr {
    border-top-color: #ececf6
}

.alert-light .alert-link {
    color: #686868
}

.alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca
}

.alert-dark hr {
    border-top-color: #b9bbbe
}

.alert-dark .alert-link {
    color: #040505
}

.alert-area {
    width: 50%;
    display: inline-block;
    font-size: 14px;
}