<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>For User</title>
    <!-- ! GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/test.css" />
</style>
</head>

<body>
    
    <%-include('../includes/header.html')%>

    <div class="p-4rem">
        <div class="main">
            <%-include('../includes/flash.html')%>
            <div class="row p-5">
                <div class="text-center w-100">
                    <h2>ABOUT US</h2>
                </div> 
                <ul><li>Gizem Bulut</li>
                    <li>Ceren Erkayıran</li>
                    <li>Saadet Begüm Ekmekçi</li>
                    <li>Şule İlkbahar</li>
                    <li>Nilhan Topçu</li>
                    <li>Dilara Kara</li>
                </ul>
                
            </div>
        </div>

    </div>

    <div style="margin-bottom: 195px;"></div>
    <%-include('../includes/footer.html')%>             
</body>

</html>